body{
    background-color: #000001;
    color: aliceblue;
    font-family: Verdana, sans-serif;
}

header h1{
    background-color: #E55100;
    text-align: center;
}

h1{
    color:aliceblue;
    font-family: Verdana, sans-serif;
    font-size: 56px;
}

h2{
    color:aliceblue;
    text-align: center;
    font-size: 26px;
}

section{
    background-color: #ce2800;
}

article{
    text-align: center;
}

footer{
    text-align: right;
    background-color: #3c6000;
}